<%= form_for @mention do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :file %><br />
    <%= f.file_field :file %>
    <%= f.hidden_field :parent_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
